@mixin expansionArrowTransform($rotation) {
  transform: translateX(-10px) scale(0.5) rotate($rotation);
}
:host {
  display: block;
  position: relative;
  height: 100%;
}

.scroll-viewport {
  height: 100%;
}

.table {
  height: 100%;
  width: 100%;
}

.table-overlay {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  ::ng-deep td {
    // this is to hide border between row and expanded details
    border-bottom-width: 0;
    border-bottom-style: none;
  }
  &--with-open-details .expansion-arrow {
    @include expansionArrowTransform(90deg);
  }
}

.expanded-row {
  height: 0;

  &__detail {
    overflow: hidden;
  }
}

.expansion-arrow-headercell,
.expansion-arrow-cell {
  width: 1px;
}

.expansion-arrow-cell {
  cursor: pointer;
  line-height: 8px;
}

.expansion-arrow {
  @include expansionArrowTransform(0);
  transition: transform 225ms;
}

.expanded-detail-cell {
  padding-left: 0 !important; // found no other way to convince material
  padding-right: 0 !important;
}
