@mixin table-background($color) {
  .table {
    th {
      background-color: $color;
      color: white;
    }
  }
}

@mixin sort-arrow($color) {
  .mat-sort-header-arrow {
    color: $color;
  }
}

@mixin handsetTable($screen-xs) {
  @media screen and (max-width: $screen-xs) {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin tableHeader() {
  [mat-header-cell].centered {
    text-align: center;

    .mat-sort-header-container {
      justify-content: center;

      .mat-sort-header-content {
        padding-left: 18px; // equalize sort arrow width + margin
      }
    }
  }
}
