$finder-primary: #fab73d;
$finder-primary-light: #fee9c5;
$finder-primary-dark: #f89f27;

$finder-accent: #fddca5;
$finder-accent-light: #fef5e4;
$finder-accent-dark: #fcce8a;

$finder-warn: #bbc8ba;
$finder-warn-light: #ebefea;
$finder-warn-dark: #a4b4a3;
