<div *ngIf="file$ | async as file">
  <div *ngIf="file">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ file.fileNode.name }}</mat-card-title>
        <mat-card-subtitle>{{ file.fileNode.type | titlecase }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="container">
          <mat-list>
            <div mat-subheader>File Information</div>
            <mat-list-item>
              <div mat-line>dev: {{ file.stats.dev }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>atime: {{ file.stats.atime }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>atimeMs: {{ file.stats.atimeMs }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>birthtime: {{ file.stats.birthtime }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>birthtimeMs: {{ file.stats.birthtimeMs }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>blksize: {{ file.stats.blksize }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>blocks: {{ file.stats.blocks }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>ctime: {{ file.stats.ctime }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>ctimeMs: {{ file.stats.ctimeMs }}</div>
            </mat-list-item>
          </mat-list>
          <mat-list class="list2">
            <mat-list-item>
              <div mat-line>gid: {{ file.stats.gid }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>ino: {{ file.stats.ino }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>mode: {{ file.stats.mode }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>mtime: {{ file.stats.mtime }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>mtimeMs: {{ file.stats.mtimeMs }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>nlink: {{ file.stats.nlink }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>rdev: {{ file.stats.rdev }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>size: {{ file.stats.size }}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>uid: {{ file.stats.uid }}</div>
            </mat-list-item>
          </mat-list>
        </div>
        <ng-container *ngIf="file.fileNode.type === 'file'; else folder">
          <mat-card-actions [align]="'start'">
            <button class="flex-items" (click)="open(file.fileNode)" mat-raised-button>Open</button>
            <button class="flex-items" (click)="change(file.fileNode)" mat-raised-button>Change Name</button>

            <button class="flex-items" (click)="copy(file.fileNode)" mat-raised-button color="primary">Copy</button>
            <button class="flex-items" (click)="cut(file.fileNode)" mat-raised-button color="accent">Cut</button>
            <button class="flex-items" (click)="delete(file.fileNode)" mat-raised-button color="warn">Delete</button>
          </mat-card-actions>
        </ng-container>
        <ng-template #folder>
          <mat-card-actions [align]="'start'">
            <button class="flex-items" (click)="change(file.fileNode)" mat-raised-button>Change Name</button>
            <button class="flex-items" (click)="copy(file.fileNode)" mat-raised-button color="primary">Copy</button>
            <button class="flex-items" (click)="cut(file.fileNode)" mat-raised-button color="accent">
              Cut
            </button>
            <button class="flex-items" (click)="delete(file.fileNode)" mat-raised-button color="warn">
              Delete
            </button>
          </mat-card-actions>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-spinner class="overlay" *ngIf="isLoading"></mat-spinner>
