.container {
  display: flex;
  flex-direction: row;
}
.stats {
  display: flex;
  flex-direction: column;
}
.list2 {
  margin-top: 40px;
}
.overlay {
  position: absolute;
  display: block;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
}
