@import '../../../../../styles/variables';
@import '../../../../../styles/material';

:host {
  display: block;
  padding-top: $spacing-xsmall;
  padding-left: $spacing-xlarge;
  padding-right: $spacing-xlarge;
  padding-bottom: $spacing-default;
}

.content {
  background-color: $light-bg-darker-5;
  padding: $spacing-default;
}
