@import './styles/material.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
