<h2 mat-dialog-title>Create File</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="File" formControlName="fileName" />
  </mat-form-field>
  <div class="basic-grid">
    <div *ngFor="let folder of folders">
      <finder-folder-card [folder]="folder"> </finder-folder-card>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
