<finder-file-manager-toolbar [description]="'Database Manager'"></finder-file-manager-toolbar>
<div class="container">
  <div class="selection">
    <div class="current">
      <mat-card>
        <finder-current-selection>{{ collectionNameInput }}</finder-current-selection></mat-card
      >
    </div>
    <mat-card class="select"
      ><finder-collection-selection
        (changeCollection)="setCollection($event)"
        [collections]="allCollections$ | async"
      ></finder-collection-selection
    ></mat-card>
  </div>
  <div class="selection">
    <div class="current">
      <mat-card class="create">
        <finder-create-collection></finder-create-collection>
        <finder-delete-collection [collectionName]="collectionName"></finder-delete-collection>
        <finder-create-entry [collectionName]="collectionName"></finder-create-entry>
        <finder-rename-collection [collectionName]="collectionName"></finder-rename-collection>
      </mat-card>
    </div>

    <mat-card class="select"
      ><finder-collection-table [collection]="currentCollection$ | async"></finder-collection-table
    ></mat-card>
  </div>
</div>
