<finder-file-manager-toolbar [description]="'Database Manager'"></finder-file-manager-toolbar>
<div class="container">
  <div class="selection">
    <div class="current">
      <mat-card>
        <finder-current-selection>{{ collectionNameInput }}</finder-current-selection></mat-card
      >
    </div>
    <div class="select">
      <mat-card
        ><finder-collection-selection
          (changeCollection)="setCollection($event)"
          [collections]="allCollections$ | async"
        ></finder-collection-selection
      ></mat-card>
    </div>
  </div>
  <div class="selection">
    <div class="current">
      <mat-card class="create">
        <h2>Operations</h2>
        <h3>Collection Operations:</h3>
        <finder-create-collection></finder-create-collection>
        <finder-rename-collection [collectionName]="collectionName"></finder-rename-collection>
        <finder-delete-collection [collectionName]="collectionName"></finder-delete-collection>
        <mat-divider></mat-divider>
        <h3>Document Operations:</h3>
        <finder-create-entry [collectionName]="collectionName"></finder-create-entry>
      </mat-card>
    </div>
    <div class="select">
      <mat-card><finder-collection-table [collection]="currentCollection$ | async"></finder-collection-table></mat-card>
    </div>
  </div>
</div>
