<div class="container">
  <finder-table class="table" [columns]="defaultColumns" [data]="dataSource" rowHeight="50">
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell class="cell--location">Id</th>
      <td *matCellDef="let element; let i = dataIndex" mat-cell>
        {{ element._id }}
      </td>
    </ng-container>
    <ng-container class="container" *finderExpandedDetailDef="let element">
      <pre>{{ element | json }}</pre>
      <div class="buttons">
        <button (click)="update(element._id)" [color]="'accent'" mat-raised-button>Update</button>
        <button class="button" (click)="delete(element._id)" [color]="'warn'" mat-raised-button>Delete</button>
      </div>
    </ng-container>
  </finder-table>
</div>
